{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "react-docgen",
    "@babel/plugin-proposal-class-properties",
    "@babel/transform-react-jsx"
  ]
}
